.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-main {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.app-player {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}
